# Project place file
/riskyropes.rbxlx
Maps.rbxmx
Skins.rbxmx
WebServerInfo.lua
Authorization.lua

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

PythonWebserver/ServerInfo.json
src/ServerModules/Data/DiscordWebhooks.lua
